body {
  /* background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/
  background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover; /*SHORTHAND*/
}
/* 
VALORES DE POSICIONAMENTO
top X ---------------------
center Y 

*/
*body {
  font-family: "Inter", sans-serif;
}
#container {
  height: 600px;
  width: 360px;
  border: 1px solid red;
  margin: auto;
}
#profile {
  text-align: center;
}
#profile img {
  width: 112px;

  margin-top: 50px;
}
